.vscode/
.venv/
.DS_Store
lezione3/esempio.py
lezione3/esempio.py
slide1/es1slide.py
slide1/es2slide.py
slide1/es3slide.py
slide1/es4slide.py
slide1/es5slide.py
slide1/es6slide.py
slide1/es7slide.py
slide1/es9slide.py
slide1/es8slide.py
